In [2]:
import numpy as np
import pandas as pd

df2=pd.read_csv('data.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/data.csv'

In [1]:
df2

NameError: name 'df2' is not defined

In [ ]:
df3=df2.copy()

In [ ]:
df3.shape

(62766, 49)

In [ ]:
df3.head(15)

,Unnamed: 0,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,...,emissions_sticker,\nComfort & Convenience\n,\nEntertainment & Media\n,\nSafety & Security\n,extras,\ncolour,\nmanufacturer_color,\npaint,upholstery_colour,upholstery
0,0,"LOON OP ZAND, NL","\n,Audi ,\n","\n,A3,\n",2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]","\n,Automatic,\n",08/2003,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['CD player', 'Radio']]","[['ABS', 'Alarm system', 'Central door lock', ...",[['Alloy wheels']],"\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"
1,1,"HEERLEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]","\n,Automatic,\n",10/2013,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Automatic climate contr...","[['CD player', 'Radio']]","[['Alarm system', 'Central door lock', 'Centra...","[['Alloy wheels (16"")']]","\n4, White",None,None,"\nupholstery, Black","\n8, Cloth"
2,3,"BAARLE-NASSAU, NL","\n,Audi ,\n","\n,A1,\n",1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]","\n,Automatic,\n",06/2015,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['Bluetooth', 'CD player', 'On-board computer...","[['ABS', 'Central door lock with remote contro...","[['Alloy wheels (15"")']]","\n4, Grey",None,"\npaint, Metallic",None,None
3,4,"ZUTPHEN, NL","\n,Audi ,\n","\n,A1,\n",S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]","\n,Automatic,\n",10/2015,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['CD player', 'MP3', 'On-board computer', 'Ra...","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Shift paddles', 'Spor...","\n4, Black",None,None,"\nupholstery, Black","\n8, Part leather"
4,7,"HAAKSBERGEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]","\n,Automatic,\n",10/2017,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Electrical s...","[['CD player', 'On-board computer', 'Radio']]","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Sport seats', 'Sport ...","\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"
5,8,"WEZEP, NL","\n,Audi ,\n","\n,A3,\n",Sportback 30 TFSI/Automaat,"[['\n', '€ 24,750.-', '\n']]","['', ['47,536 km']]","\n,Automatic,\n",03/2019,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Automatic climate contr...","[['CD player', 'On-board computer', 'Radio']]","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (16"")']]","\n4, Grey",None,"\npaint, Metallic","\nupholstery, Grey","\n8, Cloth"
6,9,"UTRECHT, NL","\n,Audi ,\n","\n,A1,\n",Sportback 1.4 TFSI Pro Line S | S Line Pack | ...,"[['\n', '€ 15,945.-', '\n']]","['', ['94,530 km']]","\n,Automatic,\n",03/2014,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['CD player', 'MP3', 'On-board computer', 'Ra...","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Sport seats', 'Sport ...","\n4, Black",None,"\npaint, Metallic",None,"\n8, Part leather"
7,10,"HEESCH, NL","\n,Audi ,\n","\n,A3,\n",1.8 TFSI Ambition Pro Line S aut. S-tronic,"[['\n', '€ 12,950.-', '\n']]","['', ['139,703 km']]","\n,Automatic,\n",07/2011,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Cruise contr...","[['Bluetooth', 'CD player', 'On-board computer']]","[['ABS', 'Alarm system', 'Central door lock wi...","[['Alloy wheels (18"")', 'Automatically dimming...","\n4, Grey",None,"\npaint, Metallic",None,"\n8, Full leather"
8,11,"VALKENBURG AAN DE GEUL, NL","\n,Audi ,\n","\n,A1,\n",1.4 TSI S-Tronic Navigatie MF Stuurwiel LED V...,"[['\n', '€ 13,950.-', '\n']]","['', ['103,626 km']]","\n,Automatic,\n",08/2012,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['Bluetooth', 'CD player', 'On-board computer...","[['ABS', 'Central door lock with remote contro...","[['Alloy wheels (17"")', 'Sport seats']]","\n4, White",None,None,None,None
9,12,"NIJKERK GLD, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.2 TFSI Ambition Stoelverw.V+A Airc...,"[['\n', '€ 10,945.-', '\n']]","['', ['100,558 km']]","\n,Automatic,\n",01/2011,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Cruise control', 'Elect...","[['CD player', 'MP3', 'Radio']]","[['ABS', 'Alarm system', 'Central door lock', ...","[['Alloy wheels (17"")', 'Sport suspension']]","\n4, White",None,None,"\nupholstery, Grey","\n8, Cloth"
10,13,"GRONINGEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI 125 pk Ambiente Advance Aut...,"[['\n', '€ 12,950.-', '\n']]","['', ['91,763 km']]","\n,Automatic,\n",08/2012,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['On-board computer', 'Radio']]","[['ABS', 'Adaptive headlights', 'Bi-Xenon head...","[['Alloy wheels (16"")']]","\n4, Black",None,"\npaint, Metallic","\nupholstery, Grey","\n8, Cloth"
11,16,"ROTTERDAM, NL","\n,Audi ,\n","\n,A1,\n",Sportback 1.4 TFSI Ambition 122PK FR94460 | EI...,"[['\n', '€ 16,151.-', '\n']]","['', ['39,915 km']]","\n,Automatic,\n",06/2014,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Automatic climate contr...","[['CD player', 'MP3', 'On-board computer', 'Ra...","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")']]","\n4, Red",None,None,"\nupholstery, Grey","\n8, Cloth"
12,17,"GOES, NL","\n,Audi ,\n","\n,A5,\n","Sportback 1.8 TFSI Pro Line (NAVIGATIESYSTEEM,...","[['\n', '€ 15,945.-', '\n']]","['', ['154,802 km']]","\n,Automatic,\n",06/2012,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Automatic climate contr...","[['On-board computer', 'Radio']]","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Automatically dimming...","\n4, Black",None,"\npaint, Metallic","\nupholstery, Black","\n8, Full leather"
13,18,"SOEST, NL","\n,Audi ,\n","\n,A1,\n",Sportback 1.0 TFSI Pro Line S-Tronic | Navigat...,"[['\n', '€ 15,945.-', '\n']]","['', ['35,618 km']]","\n,Automatic,\n",08/2015,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...",[['Radio']],"[['ABS', 'Alarm system', 'Central door lock', ...","[['Alloy wheels (15"")']]","\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"
14,19,"MEPPEL, NL","\n,Audi ,\n","\n,A5,\n",1.8 TFSI PRO LINE S,"[['\n', '€ 16,250.-', '\n']]","['', ['123,606 km']]","\n,Automatic,\n",05/2012,"\n,Gasoline,\n",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...",[['On-board computer']],"[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (19"")', 'Sport seats', 'Sport ...","\n4, Grey",None,"\npaint, Metallic",None,"\n8, Part leather"

In [ ]:
df = df3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62766 entries, 0 to 62765
Data columns (total 49 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               62766 non-null  int64
 1   location                 62766 non-null  object
 2   make                     62766 non-null  object
 3   model                    62766 non-null  object
 4   short_description        62617 non-null  object
 5   price                    62766 non-null  object
 6   mileage                  62766 non-null  object
 7   gearbox                  62766 non-null  object
 8   registration             62729 non-null  object
 9   fuel_type                62766 non-null  object
 10  power                    62766 non-null  object
 11  seller                   62766 non-null  object
 12  body_type                62766 non-null  object
 13  type                     62766 non-null  object
 14  drivetrain               62766 non-null  object
 15  seats                    62766 non-null  object
 16  doors                    62766 non-null  object
 17  country_version          62766 non-null  object
 18  offer_number             62766 non-null  object
 19  warranty                 62766 non-null  object
 20  Mileage                  62766 non-null  object
 21  first_registration       62766 non-null  object
 22  production_date          62766 non-null  object
 23  general_inspection       62766 non-null  object
 24  last_service             62766 non-null  object
 25  full_service_history     62766 non-null  object
 26  non_smoker_vehicle       62766 non-null  object
 27  previous_owner           62766 non-null  object
 28  last_timing_belt_change  62766 non-null  object
 29  Power                    62766 non-null  object
 30  Gearbox                  62766 non-null  object
 31  engine_size              62766 non-null  object
 32  gears                    62766 non-null  object
 33  cylinders                62766 non-null  object
 34  empty_weight             62766 non-null  object
 35  Fuel_type                62766 non-null  object
 36  fuel_consumption         62766 non-null  object
 37  co2_emissions            62766 non-null  object
 38  emission_class           62766 non-null  object
 39  emissions_sticker        62766 non-null  object
 40
Comfort & Convenience
  62766 non-null  object
 41
Entertainment & Media
  62766 non-null  object
 42
Safety & Security
      62766 non-null  object
 43  extras                   62766 non-null  object
 44
colour                  62766 non-null  object
 45
manufacturer_color      62766 non-null  object
 46
paint                   62766 non-null  object
 47   upholstery_colour       62766 non-null  object
 48   upholstery              62766 non-null  object
dtypes: int64(1), object(48)
memory usage: 23.5+ MB

In [ ]:
df.describe()

         Unnamed: 0
count  62766.000000
mean   35563.827709
std    20562.958458
min        0.000000
25%    17718.250000
50%    35595.500000
75%    53391.750000
max    71103.000000

In [ ]:
df.columns

Index(['Unnamed: 0', 'location', 'make', 'model', 'short_description', 'price',
       'mileage', 'gearbox', 'registration', 'fuel_type', 'power', 'seller',
       'body_type', 'type', 'drivetrain', 'seats', 'doors', 'country_version',
       'offer_number', 'warranty', 'Mileage', 'first_registration',
       'production_date', 'general_inspection', 'last_service',
       'full_service_history', 'non_smoker_vehicle', 'previous_owner',
       'last_timing_belt_change', 'Power', 'Gearbox', 'engine_size', 'gears',
       'cylinders', 'empty_weight', 'Fuel_type', 'fuel_consumption',
       'co2_emissions', 'emission_class', 'emissions_sticker',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n',
       '\nSafety & Security\n', 'extras', '\ncolour', '\nmanufacturer_color',
       '\npaint', ' upholstery_colour ', ' upholstery '],
      dtype='object')

In [ ]:
df=df.drop(["Unnamed: 0"],axis=1) # column0 removed

In [ ]:
df.describe()

,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,power,...,emissions_sticker,\nComfort & Convenience\n,\nEntertainment & Media\n,\nSafety & Security\n,extras,\ncolour,\nmanufacturer_color,\npaint,upholstery_colour,upholstery
count,62766,62766,62766,62617,62766,62766,62766,62729,62766,62766,...,62766,62766,62766,62766,62766,62766,62766,62766,62766,62766
unique,2344,20,754,54368,8179,45618,10,302,12,361,...,6,28445,1871,19501,8457,15,1,2,12,7
top,"ROTTERDAM, NL","\n,BMW ,\n","\n,A3,\n",1.4 TSI Highline,"[['\n', '', '\n']]","['', ['10 km']]","\n,Automatic,\n",01/2021,"\n,Gasoline,\n","[None, '']",...,"\n,None,\n","[['Air conditioning', 'Power windows']]","[['CD player', 'On-board computer', 'Radio']]","[['ABS', 'Alarm system', 'Central door lock', ...","[['Alloy wheels (16"")']]","\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"
freq,1379,6942,1171,58,1378,1371,36633,2883,36942,5333,...,62632,245,7605,470,2147,20667,62766,44423,30365,23375

In [ ]:
df.describe().T

,count,unique,top,freq
location,62766,2344,"ROTTERDAM, NL",1379
make,62766,20,"\n,BMW ,\n",6942
model,62766,754,"\n,A3,\n",1171
short_description,62617,54368,1.4 TSI Highline,58
price,62766,8179,"[['\n', '', '\n']]",1378
mileage,62766,45618,"['', ['10 km']]",1371
gearbox,62766,10,"\n,Automatic,\n",36633
registration,62729,302,01/2021,2883
fuel_type,62766,12,"\n,Gasoline,\n",36942
power,62766,361,"[None, '']",5333
seller,62766,5,"['\n', ['Dealer\n']]",57428
body_type,62766,13,"\n,Off-Road/Pick-up,\n",17348
type,62766,5,"\n,Used,\n",55523
drivetrain,62766,4,"\n,Front,\n",33522
seats,62766,11,\n5,46671
doors,62766,7,\n5,45496
country_version,62766,27,"Country version,None",54824
offer_number,62766,50143,None\n,9928
warranty,62766,17,"\n,None,\n",41605
Mileage,62766,2,"[['\n'], ['']]",62633
first_registration,62766,298,01/2021,2883
production_date,62766,26,None,56210
general_inspection,62766,94,New,15532
last_service,62766,1,None,62766
full_service_history,62766,2,"\n,Yes,\n",43101
non_smoker_vehicle,62766,2,"\n,None,\n",57769
previous_owner,62766,12,"[['\n'], ['None']]",58373
last_timing_belt_change,62766,82,"[['\n'], ['None']]",61925
Power,62766,357,"\n,None,\n",5330
Gearbox,62766,4,"\n,Automatic,\n",36638
engine_size,62766,446,"\n,None,\n",5143
gears,62766,10,"\n,6,\n",18882
cylinders,62766,11,"\n,4,\n",41993
empty_weight,62766,1539,"\n,1,295 kg,\n",1529
Fuel_type,62766,21,"\n,Gasoline,\n",22959
fuel_consumption,62766,3761,"\n,None,\n",11767
co2_emissions,62766,346,"\n,None,\n",9867
emission_class,62766,11,"\n,Euro 6,\n",19704
emissions_sticker,62766,6,"\n,None,\n",62632
\nComfort & Convenience\n,62766,28445,"[['Air conditioning', 'Power windows']]",245
\nEntertainment & Media\n,62766,1871,"[['CD player', 'On-board computer', 'Radio']]",7605
\nSafety & Security\n,62766,19501,"[['ABS', 'Alarm system', 'Central door lock', ...",470
extras,62766,8457,"[['Alloy wheels (16"")']]",2147
\ncolour,62766,15,"\n4, Grey",20667
\nmanufacturer_color,62766,1,None,62766
\npaint,62766,2,"\npaint, Metallic",44423
upholstery_colour,62766,12,"\nupholstery, Black",30365
upholstery,62766,7,"\n8, Cloth",23375

In [ ]:
df.head()

,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,power,...,emissions_sticker,\nComfort & Convenience\n,\nEntertainment & Media\n,\nSafety & Security\n,extras,\ncolour,\nmanufacturer_color,\npaint,upholstery_colour,upholstery
0,"LOON OP ZAND, NL","\n,Audi ,\n","\n,A3,\n",2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]","\n,Automatic,\n",08/2003,"\n,Gasoline,\n","110 kW (150 hp),",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['CD player', 'Radio']]","[['ABS', 'Alarm system', 'Central door lock', ...",[['Alloy wheels']],"\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"
1,"HEERLEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]","\n,Automatic,\n",10/2013,"\n,Gasoline,\n","92 kW (125 hp),",...,"\n,None,\n","[['Air conditioning', 'Automatic climate contr...","[['CD player', 'Radio']]","[['Alarm system', 'Central door lock', 'Centra...","[['Alloy wheels (16"")']]","\n4, White",None,None,"\nupholstery, Black","\n8, Cloth"
2,"BAARLE-NASSAU, NL","\n,Audi ,\n","\n,A1,\n",1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]","\n,Automatic,\n",06/2015,"\n,Gasoline,\n","92 kW (125 hp),",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['Bluetooth', 'CD player', 'On-board computer...","[['ABS', 'Central door lock with remote contro...","[['Alloy wheels (15"")']]","\n4, Grey",None,"\npaint, Metallic",None,None
3,"ZUTPHEN, NL","\n,Audi ,\n","\n,A1,\n",S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]","\n,Automatic,\n",10/2015,"\n,Gasoline,\n","92 kW (125 hp),",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Automatic cl...","[['CD player', 'MP3', 'On-board computer', 'Ra...","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Shift paddles', 'Spor...","\n4, Black",None,None,"\nupholstery, Black","\n8, Part leather"
4,"HAAKSBERGEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]","\n,Automatic,\n",10/2017,"\n,Gasoline,\n","110 kW (150 hp),",...,"\n,None,\n","[['Air conditioning', 'Armrest', 'Electrical s...","[['CD player', 'On-board computer', 'Radio']]","[['ABS', 'Alarm system', 'Bi-Xenon headlights'...","[['Alloy wheels (17"")', 'Sport seats', 'Sport ...","\n4, Grey",None,"\npaint, Metallic","\nupholstery, Black","\n8, Cloth"

In [ ]:
df.dtypes

location                     object
make                         object
model                        object
short_description            object
price                        object
mileage                      object
gearbox                      object
registration                 object
fuel_type                    object
power                        object
seller                       object
body_type                    object
type                         object
drivetrain                   object
seats                        object
doors                        object
country_version              object
offer_number                 object
warranty                     object
Mileage                      object
first_registration           object
production_date              object
general_inspection           object
last_service                 object
full_service_history         object
non_smoker_vehicle           object
previous_owner               object
last_timing_belt_change      object
Power                        object
Gearbox                      object
engine_size                  object
gears                        object
cylinders                    object
empty_weight                 object
Fuel_type                    object
fuel_consumption             object
co2_emissions                object
emission_class               object
emissions_sticker            object
\nComfort & Convenience\n    object
\nEntertainment & Media\n    object
\nSafety & Security\n        object
extras                       object
\ncolour                     object
\nmanufacturer_color         object
\npaint                      object
 upholstery_colour           object
 upholstery                  object
dtype: object

In [ ]:
#df13 = df.iloc[0:13]

In [ ]:
df13=df.T.iloc[0:13]

In [ ]:
df13.shape

(13, 62766)

In [ ]:
df13.head()

,0,1,2,3,4,5,6,7,8,9,...,62756,62757,62758,62759,62760,62761,62762,62763,62764,62765
location,"LOON OP ZAND, NL","HEERLEN, NL","BAARLE-NASSAU, NL","ZUTPHEN, NL","HAAKSBERGEN, NL","WEZEP, NL","UTRECHT, NL","HEESCH, NL","VALKENBURG AAN DE GEUL, NL","NIJKERK GLD, NL",...,"LELYSTAD, NL","Amsterdam, NL","DRONTEN, NL","WENUM WIESEL, NL","KLIMMEN, NL","Etten-Leur, NL","HENDRIK-IDO-AMBACHT, NL","LELYSTAD, NL","Amsterdam, NL","SOESTERBERG, NL"
make,"\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n","\n,Audi ,\n",...,"\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n","\n,Volvo ,\n"
model,"\n,A3,\n","\n,A3,\n","\n,A1,\n","\n,A1,\n","\n,A3,\n","\n,A3,\n","\n,A1,\n","\n,A3,\n","\n,A1,\n","\n,A3,\n",...,"\n,S80,\n","\n,S80,\n","\n,S80,\n","\n,S60,\n","\n,S40,\n","\n,S60,\n","\n,S60,\n","\n,S60,\n","\n,S40,\n","\n,S60,\n"
short_description,2.0 FSI Ambition Pro Line,Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,S-Line | Automaat | Navigatie | Cruise-/Climat...,Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,Sportback 30 TFSI/Automaat,Sportback 1.4 TFSI Pro Line S | S Line Pack | ...,1.8 TFSI Ambition Pro Line S aut. S-tronic,1.4 TSI S-Tronic Navigatie MF Stuurwiel LED V...,Sportback 1.2 TFSI Ambition Stoelverw.V+A Airc...,...,2.5 T Summum LPG / AUTOMAAT /VOL LEDER NAVI VE...,2.4 Elan 170 PK LPG,2.4 Summum Graphite schuifdak / Navi / LPG,2.4 Momentum AUTOMAAT YOUNGTIMER LPG G3,2.0F 145pk Business Edition * Leer * Navi * Xenon,2.4 Edition APK/LMV/Airco,2.4 Kinetic LPG-G3 NAP/LEER/NAVI/DAK/NW APK,"2.0T Edition,1e Eigenaar,LPG G3,Onderbouw,Navi...",2.4,"2.4 Airco, Cruise Control, Stuurbekrachtiging"
price,"[['\n', '€ 4,450.-', '\n']]","[['\n', '€ 12,950.-', '\n']]","[['\n', '€ 12,450.-', '\n']]","[['\n', '€ 14,945.-', '\n']]","[['\n', '€ 24,900.-', '\n']]","[['\n', '€ 24,750.-', '\n']]","[['\n', '€ 15,945.-', '\n']]","[['\n', '€ 12,950.-', '\n']]","[['\n', '€ 13,950.-', '\n']]","[['\n', '€ 10,945.-', '\n']]",...,"[['\n', '€ 5,999.-', '\n']]","[['\n', '€ 2,250.-', '\n']]","[['\n', '€ 3,500.-', '\n']]","[['\n', '€ 8,950.-', '\n']]","[['\n', '€ 9,250.-', '\n']]","[['\n', '€ 1,799.-', '\n']]","[['\n', '€ 1,999.-', '\n']]","[['\n', '€ 3,449.-', '\n']]","[['\n', '€ 1,650.-', '\n']]","[['\n', '€ 944.-', '\n']]"

In [ ]:
df13=df13.T

In [ ]:
df13.head()

,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,power,seller,body_type,type
0,"LOON OP ZAND, NL","\n,Audi ,\n","\n,A3,\n",2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]","\n,Automatic,\n",08/2003,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
1,"HEERLEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]","\n,Automatic,\n",10/2013,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
2,"BAARLE-NASSAU, NL","\n,Audi ,\n","\n,A1,\n",1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]","\n,Automatic,\n",06/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
3,"ZUTPHEN, NL","\n,Audi ,\n","\n,A1,\n",S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]","\n,Automatic,\n",10/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
4,"HAAKSBERGEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]","\n,Automatic,\n",10/2017,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"

In [ ]:
df13.shape

(62766, 13)

In [ ]:
df14 = df3.iloc[:, 1:14]

In [ ]:
df14.shape

(62766, 13)

In [ ]:
df14.head()

,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,power,seller,body_type,type
0,"LOON OP ZAND, NL","\n,Audi ,\n","\n,A3,\n",2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]","\n,Automatic,\n",08/2003,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
1,"HEERLEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]","\n,Automatic,\n",10/2013,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
2,"BAARLE-NASSAU, NL","\n,Audi ,\n","\n,A1,\n",1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]","\n,Automatic,\n",06/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
3,"ZUTPHEN, NL","\n,Audi ,\n","\n,A1,\n",S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]","\n,Automatic,\n",10/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
4,"HAAKSBERGEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]","\n,Automatic,\n",10/2017,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"

In [ ]:
df14["make"].head()

0    \n,Audi ,\n
1    \n,Audi ,\n
2    \n,Audi ,\n
3    \n,Audi ,\n
4    \n,Audi ,\n
Name: make, dtype: object

In [ ]:
df14["make"]=df14["make"].replace("\n,","",regex=True)

In [ ]:
df14.head()

,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,power,seller,body_type,type
0,"LOON OP ZAND, NL","Audi ,\n","\n,A3,\n",2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]","\n,Automatic,\n",08/2003,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
1,"HEERLEN, NL","Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]","\n,Automatic,\n",10/2013,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
2,"BAARLE-NASSAU, NL","Audi ,\n","\n,A1,\n",1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]","\n,Automatic,\n",06/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
3,"ZUTPHEN, NL","Audi ,\n","\n,A1,\n",S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]","\n,Automatic,\n",10/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
4,"HAAKSBERGEN, NL","Audi ,\n","\n,A3,\n",Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]","\n,Automatic,\n",10/2017,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"

In [ ]:
df14["make"].value_counts()   # which value , how many times exist

BMW ,\n              6942
Volkswagen ,\n       6436
Mercedes-Benz ,\n    5860
Audi ,\n             5675
Volvo ,\n            4734
Renault ,\n          4255
Ford ,\n             4036
Peugeot ,\n          3492
Toyota ,\n           2783
Skoda ,\n            2588
Kia ,\n              2502
Opel ,\n             2342
Hyundai ,\n          2271
Mazda ,\n            2161
Citroen ,\n          2146
Fiat ,\n             1923
Honda ,\n             948
Dacia ,\n             829
Chevrolet ,\n         427
Tesla ,\n             416
Name: make, dtype: int64

In [ ]:
df14["gearbox"].value_counts()   # which value , how many times exist

\n,Automatic,\n         36633
\n,Manual,\n            25430
\n,Semi-automatic,\n      611
['\n', None, '\n']         85
\n,02/2022,\n               2
\n,02/2020,\n               1
\n,08/2021,\n               1
\n,03/2014,\n               1
\n,09/2021,\n               1
\n,07/2017,\n               1
Name: gearbox, dtype: int64

In [ ]:
#df14["make"].str.split(",").str[1]
df14["make"]=df14["make"].str.split(",").str[0]
df14["make"].head()

0    Audi
1    Audi
2    Audi
3    Audi
4    Audi
Name: make, dtype: object

In [ ]:
df14['make'].unique()

array(['Audi ', 'BMW ', 'Ford ', 'Mercedes-Benz ', 'Opel ', 'Volkswagen ',
       'Renault ', 'Citroen ', 'Chevrolet ', 'Dacia ', 'Fiat ', 'Honda ',
       'Hyundai ', 'Kia ', 'Mazda ', 'Peugeot ', 'Skoda ', 'Toyota ',
       'Tesla ', 'Volvo '], dtype=object)

In [ ]:
df14["make"].value_counts()   # which value , how many times exist

In [ ]:
#df14["make"]=df14["make"].replace("\n,","",regex=True)
df14["gearbox"]=df14["gearbox"].str.split(",").str[1]
df14["gearbox"].head()

0    Automatic
1    Automatic
2    Automatic
3    Automatic
4    Automatic
Name: gearbox, dtype: object

In [ ]:
df14["gearbox"].value_counts()   # which value , how many times exist

Automatic         36633
Manual            25430
Semi-automatic      611
 None                85
02/2022               2
02/2020               1
08/2021               1
03/2014               1
09/2021               1
07/2017               1
Name: gearbox, dtype: int64

In [ ]:
df14["model"].value_counts()   # which value , how many times exist

\n,A3,\n                  1171
\n,Megane,\n               932
\n,Golf,\n                 921
\n,A4,\n                   843
\n,Focus,\n                836
                          ...
\n,MX-3,\n                   1
\n,Z3 M,\n                   1
\n,SLK 300,\n                1
\n,Fox,\n                    1
\n,Active Hybrid X6,\n       1
Name: model, Length: 754, dtype: int64

In [ ]:
df14['model'].unique()

In [ ]:
df14["model"]=df14["model"].str.split(",").str[1]
df14["model"].head()

0    A3
1    A3
2    A1
3    A1
4    A3
Name: model, dtype: object

In [ ]:
df14["fuel_type"].value_counts()   # which value , how many times exist

\n,Gasoline,\n             36942
\n,Diesel,\n               11754
\n,Electric/Gasoline,\n     8179
\n,Electric,\n              4906
\n,LPG,\n                    547
\n,Electric/Diesel,\n        254
\n,CNG,\n                     98
\n,Hydrogen,\n                62
\n,Ethanol,\n                  9
\n,Others,\n                   7
\n,Automatic,\n                5
\n,Manual,\n                   3
Name: fuel_type, dtype: int64

In [ ]:
df14["fuel_type"]=df14["fuel_type"].str.split(",").str[1]
df14["fuel_type"].head()

0    Gasoline
1    Gasoline
2    Gasoline
3    Gasoline
4    Gasoline
Name: fuel_type, dtype: object

In [ ]:
df14['power'].value_counts()

[None, '']          5333
110 kW (150 hp),    3677
88 kW (120 hp),     2518
100 kW (136 hp),    2190
90 kW (122 hp),     2174
                    ...
378 kW (514 hp),       1
282 kW (383 hp),       1
470 kW (639 hp),       1
451 kW (613 hp),       1
10 kW (14 hp),         1
Name: power, Length: 361, dtype: int64

In [ ]:
u = df14['power'].unique()
for i in u:
  print(i)

In [ ]:
df14['body_type'].value_counts()

\n,Off-Road/Pick-up,\n    17348
\n,Compact,\n             13185
\n,Station wagon,\n       11318
\n,Van,\n                  6243
\n,Sedan,\n                5341
\n,Convertible,\n          3645
\n,Transporter,\n          2249
\n,Coupe,\n                1923
\n,None,\n                  948
\n,Other,\n                 562
\n,Panel van,\n               2
\n,Car transport,\n           1
\n,Flatbed van,\n             1
Name: body_type, dtype: int64

In [ ]:
df14["body_type"]=df14["body_type"].str.split(",").str[1]
df14["body_type"].head()

0    Compact
1    Compact
2    Compact
3    Compact
4    Compact
Name: body_type, dtype: object

In [ ]:
df14['type'].value_counts()

\n,Used,\n              55523
\n,New,\n                3413
\n,Demonstration,\n      1889
\n,Pre-registered,\n      993
\n,None,\n                948
Name: type, dtype: int64

In [ ]:
df14["type"]=df14["type"].str.split(",").str[1]
df14["type"].head()

0    Used
1    Used
2    Used
3    Used
4    Used
Name: type, dtype: object

In [ ]:
df14.head()

,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,power,seller,body_type,type
0,"LOON OP ZAND, NL",Audi,A3,2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]",Automatic,08/2003,Gasoline,"110 kW (150 hp),","['\n', ['Dealer\n']]",Compact,Used
1,"HEERLEN, NL",Audi,A3,Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]",Automatic,10/2013,Gasoline,"92 kW (125 hp),","['\n', ['Dealer\n']]",Compact,Used
2,"BAARLE-NASSAU, NL",Audi,A1,1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]",Automatic,06/2015,Gasoline,"92 kW (125 hp),","['\n', ['Dealer\n']]",Compact,Used
3,"ZUTPHEN, NL",Audi,A1,S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]",Automatic,10/2015,Gasoline,"92 kW (125 hp),","['\n', ['Dealer\n']]",Compact,Used
4,"HAAKSBERGEN, NL",Audi,A3,Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]",Automatic,10/2017,Gasoline,"110 kW (150 hp),","['\n', ['Dealer\n']]",Compact,Used

In [ ]:
df15 = df3.iloc[:, 1:14]

In [ ]:
df15.head()

,location,make,model,short_description,price,mileage,gearbox,registration,fuel_type,power,seller,body_type,type
0,"LOON OP ZAND, NL","\n,Audi ,\n","\n,A3,\n",2.0 FSI Ambition Pro Line,"[['\n', '€ 4,450.-', '\n']]","['', ['191,066 km']]","\n,Automatic,\n",08/2003,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
1,"HEERLEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.4 TFSI Ambiente/ECC/PDC//Lichtmeta...,"[['\n', '€ 12,950.-', '\n']]","['', ['94,758 km']]","\n,Automatic,\n",10/2013,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
2,"BAARLE-NASSAU, NL","\n,Audi ,\n","\n,A1,\n",1.4 TFSI Sportback Pro-Line Aut. S-Tronic Navi.,"[['\n', '€ 12,450.-', '\n']]","['', ['145,102 km']]","\n,Automatic,\n",06/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
3,"ZUTPHEN, NL","\n,Audi ,\n","\n,A1,\n",S-Line | Automaat | Navigatie | Cruise-/Climat...,"[['\n', '€ 14,945.-', '\n']]","['', ['119,666 km']]","\n,Automatic,\n",10/2015,"\n,Gasoline,\n","92 kW (125 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"
4,"HAAKSBERGEN, NL","\n,Audi ,\n","\n,A3,\n",Sportback 1.5 TFSI Sport | Dealer Onderhouden ...,"[['\n', '€ 24,900.-', '\n']]","['', ['55,815 km']]","\n,Automatic,\n",10/2017,"\n,Gasoline,\n","110 kW (150 hp),","['\n', ['Dealer\n']]","\n,Compact,\n","\n,Used,\n"

In [ ]:
df15['type'].value_counts()

\n,Used,\n              55523
\n,New,\n                3413
\n,Demonstration,\n      1889
\n,Pre-registered,\n      993
\n,None,\n                948
Name: type, dtype: int64

In [ ]:
type(df14['make'])

pandas.core.series.Series

In [ ]:
df14['make'].describe()

count     62766
unique       20
top        BMW
freq       6942
Name: make, dtype: object

In [ ]:
df14['model'].describe()

count     62766
unique      754
top          A3
freq       1171
Name: model, dtype: object

In [ ]:
df14['make'].unique()             # ?

array(['Audi ', 'BMW ', 'Ford ', 'Mercedes-Benz ', 'Opel ', 'Volkswagen ',
       'Renault ', 'Citroen ', 'Chevrolet ', 'Dacia ', 'Fiat ', 'Honda ',
       'Hyundai ', 'Kia ', 'Mazda ', 'Peugeot ', 'Skoda ', 'Toyota ',
       'Tesla ', 'Volvo '], dtype=object)

In [ ]:
df14["make"].isnull().sum()

0